@import '../common/mixins';
@import '../common/variables';

.alert {
  @extend %basic-type;

  position: fixed;
  top: 40px;
  left: 50%;
  width: 600px;
  transform: translateX(-50%);
  z-index: 1;

  display: flex;
  align-items: center;
  background-color: $gray-7;
  border-radius: 4px;
  border: 1px solid $gray-6;
  box-shadow: 2.5px 2.5px 4px $trans-black;

  opacity: 1;
  transition-property: opacity, visibility;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

.alert-hidden {
  opacity: 0;
}

.alert--message {
  padding: 16px;
  flex-grow: 1;
  text-align: center;
}

.alert--closeBtn {
  @include foreground-tints($gray-4);
  @include background-tints($gray-7);
  @include focus-ring('outline');

  box-sizing: border-box;
  padding: 16px;
  text-align: center;
  font-size: 18px;
}
