@import '../common/mixins';
@import '../common/variables';

// TODO: come up with a way to avoid setting width & height of each button
//       without the button moving on focus

.btn {
  @include focus-ring('border');
  border-radius: 2px;
  font: 500 16px $basic-font-stack;
}

.btn-save {
  @include background-tints($blue-1, 'lighten');
  height: 32px;
  width: 64px;
  color: $white;
}

.btn-cancel {
  @include background-tints($gray-4, 'lighten');
  height: 32px;
  width: 80px;
  color: $gray-2;
}

.btn-delete {
  @include background-tints($red, 'lighten');
  height: 32px;
  width: 80px;
  color: $white;
}

.btnContainer {
  .btn + .btn {
    margin-left: 8px;
  }
}
