@import '../common/base';
@import '../common/vendor';
@import '../common/index_card';

// TODO: duplicated
%truncated {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
}

body {
  background-color: $body-background-color;
}

.l-root {
  display: flex;
  align-items: center;
  min-height: 100%;
  padding: 20px;
}

.optionsHeading {
  font: 300 32px 'work sans';
}

.optionsContainer {
  max-width: 700px;
  margin: 0 auto;
  min-width: 0;
}

.optionsSection {
  margin-bottom: 24px;
  background-color: $quotebox-background-color;
  border: 1px solid lighten($quotebox-border-color, 12%);
  border-radius: 2px;
  padding: 16px;
  font-size: 14px;
  color: #444;
}

.setting {
  margin-bottom: 12px;
}

.setting--labelText {
  margin-right: 8px;
  font: 400 14px 'work sans';
  letter-spacing: -0.3px;
}

select {
  font: 400 13px 'work sans';
  letter-spacing: -0.3px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.quoteListItem {
  background-color: darken($quotebox-background-color, 5%);
  padding: 12px 8px;
  border-radius: 2px;
  cursor: pointer;

  font: 400 14px 'work sans';
  letter-spacing: -0.3px;

  &:hover {
    background-color: darken($quotebox-background-color, 10%);
  }

  &:active {
    background-color: darken($quotebox-background-color, 15%);
  }

  .optionsSection & {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.displayedQuote {
  @extend %truncated;

  -webkit-user-select: none;
  user-select: none;
}

// .editableQuote {
//   margin: 4px;
//   padding: 4px;
//   font-size: 12px;
//   opacity: 0.5;
//
//   &:first-of-type {
//     margin-left: 0;
//   }
//
//   &:last-of-type {
//     margin-right: 0;
//     flex-grow: 2;
//   }
// }
//
// .editableQuote--quote {
//   width: 100%;
//   padding: 4px;
//   border: 1px solid lightgray;
//   font-size: 12px;
//   line-height: 125%;
//   margin-bottom: 12px;
// }
//
// .editableQuote--author {
//   width: 25%;
// }
//
// .editableQuote--category {
//   width: 25%;
// }
//
// .editableQuote--url {
//   width: 25%;
// }

.btn {
  padding: 5px 10px;
  border: 0;
  border-radius: 2px;
  font: 400 16px 'work sans';
}

.btn-save {
  background-color: #5577aa;
  color: white;
}
