@import '../common/base';
@import '../common/mixins';
@import '../common/variables';
@import '../common/vendor';

// TODO: replace lighten with css filter (and some darken, maybe all)

$content-width: 720px;

body {
  background-color: $white;
}

.l-root {
  padding: 20px;
}

.optionsHeading {
  font: 300 32px 'work sans';
}

.optionsContainer {
  max-width: $content-width;
  margin: auto;
}

.optionsSection {
  margin-bottom: 24px;
  background-color: $gray-6;
  border: 1px solid $gray-5-4;
  border-radius: 2px;
  padding: 16px;
  font-size: 14px;
  color: $ink;
}

.optionsSection-quotes {
  display: flex;
}

.optionsSection--preventOverflow {
  overflow: hidden;
}

.optionsSection-empty {
  width: 100%;
  text-align: center;
}

.setting {
  margin-bottom: 12px;
}

.setting--labelText {
  margin-right: 8px;
  font: 400 14px 'work sans';
  letter-spacing: -0.3px;
}

.setting--select {
  font: 400 13px 'work sans';
  letter-spacing: -0.3px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.quoteListItem {
  display: flex;
  align-items: center;
  width: 100%;
  height: 42px;
  padding: 0 8px;

  background-color: $gray-5-5;
  border-radius: 2px;
  border: 3px solid $gray-5-5;

  font: 400 14px 'work sans';
  letter-spacing: -0.3px;
  text-align: left;

  &:active {
    background-color: darken($gray-5-5, 10%);
  }

  &:focus {
    border: 3px solid darken($gray-4, 15%);
  }

  .optionsSection & {
    margin-bottom: 10px;
  }
}

.quoteListItem-is-hovered {
  background-color: darken($gray-5-5, 5%);
  border-color: darken($gray-5-5, 5%);

  > div:first-child {
    flex-grow: 1;
    margin-right: 8px;
  }

  .svg-inline--fa {
    color: $gray-3;
  }
}

.truncatedText {
  @extend %truncated; // TODO: clean up usage here
}

.addQuoteButton {
  @extend .quoteListItem;

  color: $gray-4;
  border: 2px dashed currentColor;

  &:hover, &:focus {
    color: darken($gray-4, 25%);
    border: 3px solid darken($gray-4, 15%);
  }

  &:active {
    // TODO
  }

  .optionsSection & {
    margin-bottom: 0;
  }
}

.btn {
  border-radius: 2px;
  font: 400 16px $basic-font-stack;
}

.btn-save {
  color: $white;
  background-color: $blue-1;

  &:hover {
    background-color: lighten($blue-1, 7%);
  }

  &:active {
    background-color: lighten($blue-1, 10%);
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);

  font: 400 14px $basic-font-stack; // TODO try using $basic-font-stack;
  width: 400px;
  background-color: $white;
  padding: 20px;
  letter-spacing: -0.3px;
  color: $ink;
}

.modalOverlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $trans-white;
}
