@import '../common/base';
@import '../common/mixins';
@import '../common/variables';

%basic-type {
  font: 400 14px $basic-font-stack;
  letter-spacing: -0.3px;
}

p {
  @extend %basic-type;
}

.l-root {
  padding: 20px;
}

.optionsHeading {
  font: 300 32px $basic-font-stack;

  .optionsContainer & {
    margin-bottom: 12px;
  }
}

.optionsContainer {
  max-width: 720px;
  margin: auto;
}

.optionsSection {
  background-color: $gray-7;
  border: 1px solid $gray-5;
  border-radius: 2px;
  padding: 16px;
  color: $gray-2;

  .setting {
    margin-bottom: 12px;
  }

  .optionsContainer &:not(:last-child) {
    margin-bottom: 32px;
  }
}

.setting--labelText {
  @extend %basic-type;
  margin-right: 8px;
}

.setting--select {
  @extend %basic-type;
  margin: 3px 0; // don't move on focus outline
  padding: 4px 0;
  font-size: 13px;
}

.editQuoteButton {
  @extend %basic-type;
  @include background-tints($gray-6);
  @include focus-ring('border');

  $padding: 12px;

  display: flex;
  width: 100%;
  height: 42px;
  padding: $padding;
  text-align: left;
  border-radius: 2px;

  > .truncatedText {
    flex-grow: 1;
  }

  > .editQuoteButton--pencil {
    display: none;
  }

  & + & {
    margin-top: 10px;
  }

  &:focus {
    padding: $padding - 3px;
  }

  &:focus,
  &:hover {
    > .truncatedText {
      margin-right: 8px;
    }

    > .editQuoteButton--pencil {
      display: block;
    }
  }
}

.editQuoteButton-add {
  @extend %icon-margin;
  @include foreground-tints($gray-4);

  align-items: center;
  border: 2px dashed currentColor;

  &:focus {
    padding-left: 6px;
  }
}

.editQuoteButton--pencil {
  color: $gray-3;
  margin-right: 4px;
}

.truncatedText {
  @extend %truncated;
}

.btn {
  @include focus-ring('border');
  border-radius: 2px;
  font: 500 16px $basic-font-stack;
}

// TODO: try to avoid setting width & height
.btn-save {
  @include background-tints($blue-1, 'lighten');
  height: 32px;
  width: 64px;
  color: $white;
}

// TODO: try to avoid setting width & height
.btn-cancel {
  @include background-tints($gray-4, 'lighten');
  height: 32px;
  width: 80px;
  color: $gray-2;
}

.btn-delete {
  @include background-tints($red, 'lighten');
  height: 32px;
  width: 80px;
  color: $white;
}

.btnContainer {
  .btn + .btn {
    margin-left: 8px;
  }
}

.modal {
  @extend %absolute-center;
  width: 420px;
  padding: 24px;
  background-color: $gray-7;
  border: 1px solid $gray-4;
  border-radius: 2px;
}

// TODO: set margin of h1 to 0 in base
.modal--heading {
  font: 300 28px $basic-font-stack;
  margin: 0;
  margin-bottom: 20px;
}

.modal--rule {
  border-color: $gray-5;
  margin-bottom: 20px;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow-y: auto;
  padding: 20px;
  background-color: $trans-white;
}

.ReactModal__Body--open {
  overflow-y: hidden;
}

.quoteForm {
  > .btnContainer {
    margin-top: 40px;
  }
}

.quoteForm--field {
  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.quoteForm--label {
  font: 500 14px $basic-font-stack;
  color: $gray-3;
  display: block;
  margin-bottom: 6px;
}

.quoteForm--input {
  @extend %basic-type;
  display: block;
  box-sizing: border-box;
  width: 100%;
  border: 1px solid $gray-4;
  border-radius: 2px;
  padding: 6px;
}

.quoteForm--input-textarea {
  height: 150px;
}

.link {
  @extend %basic-type;
  @extend %icon-margin;
  display: block;

  @include foreground-tints($blue-1);

  > b {
    font-weight: 500;
  }

  > .svg-inline--fa {
    @include foreground-tints($gray-4);
    color: $gray-2;
  }

  & + & {
    margin-top: 12px;
  }

  .optionsSection &:last-of-type {
    margin-bottom: 24px;
  }
}

.inlineAuthor {
  color: $gray-3;
}
