html {
  margin: 0;
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  height: 100%;
  width: 100%;
}

ul {
  margin: 0;
  list-style-type: none;
  padding-left: 0;
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

button {
  border: 0;
  box-sizing: border-box;
  cursor: pointer;

  &:focus {
    outline: none;
    border: 3px solid #9ecaed;

    &::-moz-focus-inner {
      border: 0;
      outline: 0;
    }
  }
}
