$body-background-color: #ffffff;
$quotebox-background-color: #fafafa;
$quotebox-border-color: #cccccc;
$ink-color: #444444;
$faded-ink-color: #888888;
$link-color: #7799cc;

$fancy-font-stack: 'work sans', georgia, serif;
$nerdy-font-stack: 'pt mono', 'sf mono', monospace;

%nerdy-type {
  font: 300 9pt $nerdy-font-stack;
}
