%truncated {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

%vertical-transition {
  transition-property: height, opacity, margin, visibility;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}

%expanded {
  height: 1.2em;
  opacity: 1;
  visibility: visible;
}

%collapsed {
  overflow: hidden;
  height: 0;
  margin: 0;
  opacity: 0;
  visibility: hidden;
}

%no-moz-focus-inner {
  &:focus::-moz-focus-inner {
    border: 0;
    outline: 0;
  }
}

/*
 * Sets a foreground color and tints/shades the hover, focus & active states.
 */
@mixin tinted-foreground($color, $fn: 'darken') {
  color: $color;

  &:hover,
  &:focus {
    color: call($fn, $color, 20%);
  }

  &:active {
    color: call($fn, $color, 40%);
  }
}

/*
 * Will hide or show an element nested under .quoteBox based on the .quoteBox state.
 */
@mixin drawer-element {
  @extend %collapsed;
  @extend %vertical-transition;

  /*
   * the class of the targeted element. e.g.:
   *
   * self('.a .b .c.d') -> '.c.d'
   */
  $self: nth(nth(&, -1), -1);

  @at-root .indexCard .quoteBox.quoteBox-is-expanded #{$self} {
    @extend %expanded;
  }

  @at-root .indexCard .quoteBox.quoteBox-is-collapsed #{$self} {
    @extend %collapsed;
  }
}
