/*
 * Sets a foreground color plus variants for hover/focus/active.
 */
@mixin foreground-tints($color, $fn: 'darken') {
  color: $color;

  &:hover, &:focus {
    color: call(get-function($fn), $color, 20%);
  }
  &:active {
    color: call(get-function($fn), $color, 40%);
  }
}

/*
 * Sets a background color plus variants for hover/focus/active.
 */
@mixin background-tints($color, $fn: 'darken') {
  background-color: $color;

  &:hover, &:focus {
    background-color: call(get-function($fn), $color, 5%);
  }
  &:active {
    background-color: call(get-function($fn), $color, 10%);
  }
}

/*
 * Enables a child of .quoteBox to be hidden or shown based on .quoteBox state.
 */
@mixin slide {
  transition-property: height, opacity, margin, visibility;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;

  $self: nth(nth(&, -1), -1); // class of the targeted element. self('.a .b .c') -> '.c'

  @at-root .indexCard .quoteBox-is-expanded #{$self} {
    height: 1.2em;
    opacity: 1;
    visibility: visible;
  }

  @at-root .indexCard .quoteBox-is-collapsed #{$self} {
    height: 0;
    margin: 0;
    opacity: 0;
    overflow: hidden;
    visibility: hidden;
  }
}

/*
 * Gives element a blue focus ring. Need to supply 'border' or 'outline'.
 * Disables the FF default inner dotted border.
 */
@mixin focus-ring($property) {
  &:focus {
    #{$property}: 3px solid $blue-focus;

    &::-moz-focus-inner {
      border: 0;
      outline: 0;
    }
  }
}

%truncated {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

%absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

%icon-margin {
  .svg-inline--fa {
    margin-right: 8px;
  }
}

%basic-type {
  font: 400 14px $basic-font-stack;
  letter-spacing: -0.3px;
}
