// TODO: add colors and stuff here

$white:      #ffffff;
$gray-6:     #fafafa;
$gray-5-5:   #ededed;
$gray-5-4:   #e4e4e4;
$gray-5:     #dddddd;
$gray-4:     #cccccc;
$gray-3:     #888888;

$gray-1:     #202020;

$ink:        #444444; // TODO :(

$blue-2:     #7799cc;
$blue-1:     #5577aa;
$blue-0:     #556699;

$blue-focus: #7db1f7;

$slate:      #777788;
$gray-2:     #282829; // TODO: slate-x

$trans-white: rgba(255, 255, 255, 0.8);


// fonts
$basic-font-stack: 'work sans', sans-serif;
$mono-font-stack: 'pt mono', 'sf mono', monospace;

