/* reset */
body, html {
  margin: 0;
  height: 100%;
  width: 100%;
}

/* layout */
.l-root {
  display: flex;
  align-items: center;
  height: 100%;
}

#container {
  margin: auto;
}

#quote {
  white-space: pre-wrap;
}

#author {
  text-align: right;
  width: 100%;
}

#author:before {
  content: "\2015 ";
}

hr,
#category,
#url {
  overflow: hidden;
  height: 0;
  margin: 0;
  opacity: 0;
}

.svg-inline--fa {
  margin-right: 6px;
}
