$body-background-color: #ffffff;
$container-background-color: #fafafa;
$container-border-color: #cccccc;
$ink-color: #444444;
$faded-ink-color: #888888;
$link-color: #7799cc;

$fancy-font-stack: 'work sans', georgia, serif;

$nerdy-font-stack: 'pt mono', 'sf mono', monospace;

%nerdy-type {
  font: 300 9pt $nerdy-font-stack;
}

%hidden {
  overflow: hidden;
  height: 0;
  margin: 0;
  opacity: 0;
}

.indexCard {
  body {
    background-color: $body-background-color;
    font-family: $fancy-font-stack;
    font-weight: 300;
  }

  /* main divs */
  #container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 600px;
    padding: 50px;
    border-style: solid;
    border-width: 1px;

    background-color: $container-background-color;
    border-color: $container-border-color;
  }

  #quote {
    position: relative;
    margin-top: 18px;
    margin-bottom: 40px;
    font-size: 32pt;
    line-height: 130%;
    z-index: 1;
    color: $ink-color;

    &:before,
    &:after {
      position: absolute;
      font-size: 180px;
      font-family: georgia;
      opacity: 0.05;
      z-index: -1;
    }

    &:before {
      content: "\201C"; // left quote
      top: 30px;
      left: -25px;
    }

    &:after {
      content: "\201D"; // right quote
      bottom: -40px;
      right: -8px;
    }
  }

  #author {
    font-size: 16pt;
    color: $faded-ink-color;
  }

  #category {
    @extend %nerdy-type;
    width: 100%;
    color: $faded-ink-color;
  }

  #url {
    @extend %nerdy-type;
    display: block;
    width: 100%;
    margin-bottom: 18px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: $link-color;

    a {
      color: inherit;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  hr {
    width: 100%;
    height: 1px;
    margin: 40px 0 20px 0;
    border: 0;
    border-top: 1px solid #ddd;
  }

  /* hiding and showing of bottom section */
  #category,
  #url,
  hr {
    @extend %hidden;
    transition-property: height, opacity, margin;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
  }

  &.is-expanded {
    #category,
    #url,
    hr {
      height: 1.2em;
      opacity: 1;
    }
  }

  &.is-collapsed {
    #category,
    #url,
    hr {
      @extend %hidden;
    }
  }

  /* toggle button */
  #toggle {
    position: absolute;
    bottom: -8px;
    font-size: 12px;
    border-radius: 2px;
    cursor: pointer;
    line-height: 10px;
    border-width: 1px;
    border-style: solid;

    color: $container-border-color;
    background-color: $container-background-color;
    border-color: $container-border-color;

    &:hover {
      color: darken($container-border-color, 10%);
      background-color: darken($container-background-color, 10%);
      border-color: darken($container-border-color, 10%);
    }

    &:active {
      color: darken($container-border-color, 15%);
      background-color: darken($container-background-color, 15%);
      border-color: darken($container-border-color, 15%);
    }
  }

  &.is-collapsed #toggle {
    padding: 3px 10px 3px 10px;
  }

  &.is-expanded #toggle {
    padding: 2px 10px 4px 10px;
  }
}
