@import 'index_card';

$body-background-color: #202020;
$container-background-color: #282829;
$container-border-color: #444444;
$ink-color: #cccccc;
$faded-ink-color: #777788;
$link-color: #556699;

.indexCardDark {
  @extend .indexCard;

  body {
    background-color: $body-background-color;
  }

  #container {
    background-color: $container-background-color;
    border-color: $container-border-color;
  }

  #quote {
    color: $ink-color;

    &:before,
    &:after {
      opacity: 0.025;
    }
  }

  #author {
    color: $faded-ink-color;
  }

  #category {
    color: $faded-ink-color;
  }

  #url a {
    color: $link-color;
  }

  hr {
    border-color: $container-border-color;
  }

  #toggle {
    color: $container-border-color;
    background-color: $container-background-color;
    border-color: $container-border-color;

    &:hover {
      color: lighten($container-border-color, 10%);
      background-color: lighten($container-background-color, 10%);
      border-color: lighten($container-border-color, 10%);
    }

    &:active {
      color: lighten($container-border-color, 15%);
      background-color: lighten($container-background-color, 15%);
      border-color: lighten($container-border-color, 15%);
    }
  }
}
