$body-background-color: #ffffff;
$container-background-color: #fafafa;
$container-border-color: #cccccc;
$ink-color: #444444;
$lighter-ink-color: #888888;
$link-color: #7799cc;

.indexCard {
  body {
    background-color: $body-background-color;
    font-family: lora, palatino, palatino linotype, book antiqua, georgia, serif;
  }

  #container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 600px;
    padding: 50px;
    border-style: solid;
    border-width: 1px;

    background-color: $container-background-color;
    border-color: $container-border-color;
  }

  #category,
  #url,
  hr {
    height: 1em;
    opacity: 1;
    transition-property: height, opacity, margin;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
  }

  &.is-collapsed #category,
  &.is-collapsed #url,
  &.is-collapsed hr {
    overflow: hidden;
    height: 0;
    margin: 0;
    opacity: 0;
  }

  #toggle {
    position: absolute;
    bottom: -8px;
    font-size: 12px;
    border-radius: 2px;
    cursor: pointer;
    line-height: 10px;
    border-width: 1px;
    border-style: solid;

    color: $container-border-color;
    background-color: $container-background-color;
    border-color: $container-border-color;

    &:hover {
      color: #aaa;
      background-color: #eee;
      border-color: #aaa;
    }

    &:active {
      color: #999;
      background-color: #ddd;
      border-color: #999;
    }
  }

  &.is-collapsed #toggle {
    padding: 3px 10px 3px 10px;
  }

  &.is-expanded #toggle {
    padding: 2px 10px 4px 10px;
  }

  #quote {
    position: relative;
    color: $ink-color;
    font-size: 32pt;
    line-height: 130%;
    margin-top: 18px;
    margin-bottom: 40px;
    z-index: 1;

    &:before,
    &:after {
      position: absolute;
      font-size: 180px;
      font-family: georgia;
      opacity: 0.05;
      z-index: -1;
    }

    &:before {
      content: "\201C";
      top: 30px;
      left: -25px;
    }

    &:after {
      content: "\201D";
      bottom: -40px;
      right: -8px;
    }
  }

  #author {
    font-size: 16pt;
    color: $lighter-ink-color;
  }

  #category,
  #url {
    font-size: 9pt;
    font-family: 'courier prime';
    font-style: italic;
    width: 100%;
  }

  #category {
    color: $lighter-ink-color;
  }

  #url {
    margin-bottom: 18px;
  }

  #url a {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-decoration: none;
    width: 100%;
    text-overflow: ellipsis;
    color: $link-color;
  }

  hr {
    margin-bottom: 40px;
    margin-top: 40px;
    height: 1px;
    border: 0;
    border-top: 1px solid #ddd;
  }
}
