.l-container {
  max-width: 700px;
}

.section {
  margin-bottom: 16px;
  background-color: #f5f5f5;
  border: 1px solid #e5e5e5;
  border-radius: 2px;
  padding: 8px;
  font-size: 14px;
  color: #444;
  font-family: sans-serif;
}

// quotes
// TODO: don't nest like this
.section-quotes {
  input {
    margin: 4px;
    padding: 4px;
    font-size: 12px;

    &:first-of-type {
      margin-left: 0;
    }

    &:last-of-type {
      margin-right: 0;
      flex-grow: 2;
    }
  }

  textarea {
    padding: 4px;
    line-height: 125%;
    border: 1px solid lightgray;
    width: 100%;
    font-family: sans-serif;
    font-size: 12px;
  }
}

.input-quote {
  width: 100%;
}

.input-author {
  width: 25%;
}

.input-category {
  width: 25%;
}

.input-url {
  width: 25%;
}

.quoteParent {
  display: flex;
}

.leftChild {
  display: flex;
  flex-wrap: wrap;
  margin-right: 12px;
}

.rightChild {
  display: flex;
  align-items: center;
}

.deleteBtn {
  background-color: #aa3311;
  color: white;
  border: 0;
  border-radius: 1px;
  height: 20px;
  width: 20px;
  text-align: center;
  line-height: 20px;
  padding: 0;
  font-size: 20px;
}
