// reset
ul {
  margin: 0;
  list-style-type: none;
  padding-left: 0;
}

body {
  background-color: #555;
}

.l-container {
  max-width: 700px;
  margin: 0 auto;
}

.optionSection {
  margin-bottom: 24px;
  // background-color: #f5f5f5;
  background-color: #777;
  border: 1px solid #e5e5e5;
  border-radius: 2px;
  padding: 8px;
  font-size: 14px;
  color: #444;
  font-family: sans-serif;
}

.setting {
  margin-bottom: 12px;
}

.settingLabel {
  margin-right: 8px;
}

// -----------------------------------------------------------------
// options quote common
// -----------------------------------------------------------------
.quoteListItem {
  display: flex;
  margin-bottom: 16px;
}

.quoteListItem--first {
  display: flex;
  flex-wrap: wrap;
  width: 640px;
  margin-right: 12px;
}

.quoteListItem--second {
  display: flex;
  align-items: center;
}

.deleteBtn {
  background-color: #aa3311;
  color: white;
  border: 0;
  border-radius: 1px;
  height: 20px;
  width: 20px;
  text-align: center;
  line-height: 20px;
  padding: 0;
  font-size: 20px;
}

// -----------------------------------------------------------------
// .display -- options quote display
// -----------------------------------------------------------------
.display {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.display-quote {
  width: 100%;
  margin-bottom: 8px;
}

.display-category {
  width: 25%;
}

.display-author {
  width: 25%;
}

.display-url {
  width: 50%;
}

// -----------------------------------------------------------------
// .edit -- options quote edit
// -----------------------------------------------------------------
.edit {
  margin: 4px;
  padding: 4px;
  font-size: 12px;
  opacity: 0.5;

  &:first-of-type {
    margin-left: 0;
  }

  &:last-of-type {
    margin-right: 0;
    flex-grow: 2;
  }
}

.edit-quote {
  width: 100%;
  padding: 4px;
  border: 1px solid lightgray;
  font-family: sans-serif;
  font-size: 12px;
  line-height: 125%;
  margin-bottom: 12px;
}

.edit-author {
  width: 25%;
}

.edit-category {
  width: 25%;
}

.edit-url {
  width: 25%;
}
