.indexCard body {
  font-family: lora, palatino, palatino linotype, book antiqua, georgia, serif;
}

.indexCard #container {
  width: 600px;
  padding: 50px;
  background-color: #fafafa;
  border: 1px solid #ddd;
}

.indexCard #quote {
  color: #444;
  font-size: 32pt;
  line-height: 130%;
  margin-bottom: 24px;
  position: relative;
  z-index: 1;
}

.indexCard #quote:before,
.indexCard #quote:after {
  font-size: 180px;
  position: absolute;
  font-family: georgia;
  opacity: 0.05;
  z-index: -1;
}

.indexCard #quote:before {
  content: "\201C";
  top: 30px;
  left: -25px;
}

.indexCard #quote:after {
  content: "\201D";
  bottom: -40px;
  right: -8px;
}

.indexCard #author {
  font-size: 16pt;
  color: #888;
  /* text-shadow: 0px 0px 2px #ccc; */
}

.indexCard #category, #url {
  font-size: 10pt;
  font-family: 'courier prime';
  font-style: italic;
}

.indexCard #category {
  color: #bbb;
}

.indexCard #url {
  margin-bottom: 18px;
}

.indexCard #url a {
  text-decoration: none;
  color: #79b;
}

.indexCard hr {
  border: 0;
  height: 1px;
  border-top: 1px solid #ddd;
  margin-bottom: 32px;
  margin-top: 32px;
}
