@import '../common/variables';
@import '../common/mixins';

$nerdy-font: 300 12px $mono-font-stack;
$vspace: 20px;

.indexCard {
  overflow: hidden;
  height: 100vh;

  .quoteBox {
    position: relative; // for verticalToggle
    display: flex;
    flex-direction: column;
    min-width: 240px;
    max-width: 700px;
    padding: 50px;
    border: 1px solid $gray-4;
    background-color: $gray-7;
  }

  .quoteBox--text {
    position: relative; // for before & after
    margin-top: $vspace;
    margin-bottom: $vspace * 2;
    font: 300 100px/130% $basic-font-stack;
    color: $gray-2;
    z-index: 1;

    white-space: pre-line;
    text-align: justify;
    text-justify: auto;

    @media (max-width: 800px) {
      text-align: left;
    }

    &::before,
    &::after {
      position: absolute;
      font-size: 180px;
      font-family: 'staatliches';
      opacity: 0.05;
      z-index: -1;
    }

    &::before {
      content: '“';
      top: 32px;
      left: -24px;
    }

    &::after {
      content: '”';
      bottom: -64px;
      right: -24px;
    }
  }

  .quoteBox--author {
    align-self: end;
    font: 300 16pt $basic-font-stack;
    color: $gray-3;

    &::before {
      content: "—";
    }
  }

  .quoteBox--category {
    @include slide;
    @extend %icon-margin;

    margin-top: $vspace;
    color: $gray-3;
    font: $nerdy-font;
  }

  .quoteBox--infoLink {
    @extend %truncated;
    @extend %icon-margin;
    @include slide;
    @include foreground-tints($blue-2);

    margin-top: $vspace;
    font: $nerdy-font;

    .svg-inline--fa {
      color: $gray-3;
    }

    &:focus,
    &:hover {
      outline: 0;
    }
  }

  .quoteBox--rule {
    @include slide;

    border-color: $gray-5;
    margin: 40px 0 0 0;
  }

  // TODO: try negative margin
  .verticalToggle {
    @include foreground-tints($gray-4);
    @include background-tints($gray-7);
    @include focus-ring('outline');

    position: absolute;
    bottom: -8px;
    height: 20px;
    width: 40px;
    border: 1px solid currentColor;
    border-radius: 2px;
    background-color: $gray-7;

    @at-root .indexCard .quoteBox .verticalToggle {
      align-self: center;
    }
  }

  .optionsButton {
    @include foreground-tints($gray-5);
    @include focus-ring('outline');

    position: absolute;
    right: 20px;
    top: 20px;
    color: $gray-5;
    font-size: 24px;
    opacity: 1;
    transition: opacity 0.4s, visibility 0.4s;

    @media (max-width: 600px) {
      visibility: hidden;
      opacity: 0;
    }
  }
}
