@import 'index_card';

.indexCardDark {
  @extend .indexCard;
  background-color: $gray-1;

  .quoteBox {
    background-color: $slate-1;
    border-color: $gray-2;
  }

  .quoteBox--text {
    color: $gray-4;

    &:before, &:after {
      opacity: 0.02;
    }
  }

  .quoteBox--author,
  .quoteBox--category {
    color: $slate-2;
  }

  .quoteBox--infoLink {
    color: $blue-0;

    .svg-inline--fa {
      color: $slate-2;
    }

    &:focus,
    &:hover {
      outline: 0;
      filter: brightness(125%);
    }

    &:active {
      filter: brightness(150%);
    }
  }

  .quoteBox--rule {
    border-color: $gray-2;
  }

  .verticalToggle {
    @include foreground-tints($gray-2, 'lighten');
    @include background-tints($slate-1, 'lighten');
    border-color: currentColor;
  }

  .optionsButton {
    @include foreground-tints($gray-2, 'lighten');
  }
}
