@import 'index_card';

.indexCardDark {
  @extend .indexCard;

  body {
    background-color: $gray-1;
  }

  .quoteBox {
    background-color: $slate-1;
    border-color: $gray-2;
  }

  .quoteBox--quote {
    color: $gray-4;

    &:before,
    &:after {
      opacity: 0.025;
    }
  }

  .quoteBox--author {
    color: $slate-2;
  }

  .quoteBox--category {
    color: $slate-2;
  }

  .quoteBox--url {
    color: $blue-0;
  }

  .quoteBox--rule {
    border-color: $gray-2;
  }

  .verticalToggle {
    color: $gray-2;
    background-color: $slate-1;
    border-color: currentColor;

    &:hover {
      color: lighten($gray-2, 10%);
      background-color: lighten($slate-1, 10%);
    }

    &:active {
      color: lighten($gray-2, 15%);
      background-color: lighten($slate-1, 15%);
    }
  }
}
