@import '../common/variables';
@import '../common/mixins';

$nerdy-font: 300 12px $mono-font-stack;
$vspace: 20px;

.indexCard {
  .quoteBox {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 240px;
    max-width: 700px;
    margin: auto;
    padding: 50px;
    border-style: solid;
    border-width: 1px;

    background-color: $gray-7;
    border-color: $gray-4;
  }

  .quoteBox--quote {
    position: relative;
    margin-top: $vspace;
    margin-bottom: 40px;
    font-family: $basic-font-stack;
    font-weight: 300;
    line-height: 130%;
    color: $gray-2;
    z-index: 1;

    white-space: pre-line;
    text-align: justify;
    text-justify: auto;

    @media (max-width: 800px) {
      text-align: left;
    }

    &::before,
    &::after {
      position: absolute;
      font-size: 180px;
      font-family: 'staatliches';
      opacity: 0.05;
      z-index: -1;
    }

    &::before {
      content: '“';
      top: 32px;
      left: -24px;
    }

    &::after {
      content: '”';
      bottom: -64px;
      right: -24px;
    }
  }

  .quoteBox--author {
    align-self: end;
    font-size: 16pt;
    font-family: $basic-font-stack;
    font-weight: 300;
    color: $gray-3;

    &::before {
      content: "\2015 ";
    }
  }

  .quoteBox--category {
    @include slide;

    margin-top: $vspace;
    color: $gray-3;
    font: $nerdy-font;
  }

  .quoteBox--infoLink {
    @extend %truncated;
    @include slide;

    margin-top: $vspace;
    font: $nerdy-font;
    color: $blue-2;

    .svg-inline--fa {
      color: $gray-3;
    }

    &:focus,
    &:hover {
      outline: 0;
      filter: brightness(80%);
    }

    &:active {
      filter: brightness(50%);
    }
  }

  .quoteBox--rule {
    @include slide;
    border-color: $gray-5;
    margin: 40px 0 0 0;
  }

  // TODO: try negative margin
  .verticalToggle {
    @include foreground-tints($gray-4);
    @include background-tints($gray-7);
    @include focus-ring('outline');

    position: absolute;
    bottom: -8px;
    height: 20px;
    width: 40px;

    border-radius: 2px;
    font-size: 12px;
    line-height: 10px;
    background-color: $gray-7;
    border: 1px solid currentColor;

    @at-root .indexCard .quoteBox .verticalToggle {
      align-self: center;
    }
  }

  .optionsButton {
    @include foreground-tints($gray-5);
    @include focus-ring('outline');

    position: absolute;
    right: 20px;
    top: 20px;
    color: $gray-5;
    font-size: 24px;
    width: 28px;
    height: 24px;
    padding-left: 2px;
  }
}
